body {
  margin-top: 50px;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aliceblue;
}

a {
  color: #00B7FF;
}

table thead {
  background-color: darkgray;
  justify-content: center;
}

table tbody tr:nth-child(even) {
  background-color: gainsboro;
}

table tfoot {
  background-color: darkgray;
}

.table-title {
  text-align: center;
  font-weight: bold;
}

.title-main {
  width: 90%;
  margin: 0 auto;
}

.search-main {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.brokers {
  width: 100%;
}

.daterange {
  width: 100%;
  margin-top: 10px;
}

.search {
  width: 100%;
  margin-top: 10px;
}

.chart-main {
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;
  display: block;
}

.listings-chart {
  width: 100%;
}

.chart {
  margin: 0 auto;
  width: 100%;
  background-color: white;
}

.average-table {
  width: 100%;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.table-average {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 20px;
}

.table-main {
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;
}

.table-listings {
  width: 100%;
  padding-bottom: 20px;
}

.listings-table {
  width: 100%;
  padding-top: 10px;
  margin-top: 30px;
  padding-bottom: 10px;
  background-color: white;
}

.not-found-card {
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;
  height: 50px;
  background-color: lightcoral;
  border-style: solid;
  border-width: thin;
  border-color: red;
}

.error-message {
  display: grid;
  color: black;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

@media(min-width:1200px) {
  .not-found-card {
    width: 50%;
  }

  .title-main {
    width: 90%;
    margin: 0 auto;
  }

  .search-main {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }

  .brokers {
    all: unset;
  }

  .daterange {
    all: unset;
    padding-left: 10px;
    padding-right: 10px;
  }

  .search {
    all: unset;
  }

  .chart-main {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
  }

  .listings-chart {
    width: 100%;
  }

  .chart {
    margin: 0 auto;
    width: 40%;
  }

  .chart-table {
    width: 100%;
  }

  .table-average {
    margin: 0 auto;
    width: 100%;
  }

  .table-main {
    margin: 0 auto;
    width: 90%;
    margin-top: 50px;
  }

  .table-listings {
    width: 100%;
  }

  .div-table-listings {
    width: 100%;
  }
}